*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    
    background-color: rgb( 238, 238, 238 );
}

header {
    box-shadow: 0 0 10px rgba( 0, 0, 0, .5 );
}

header>menu {
    
    display: block;
}

header>figure{
    padding: 140px 0;
        
    background-image: url( '../img/matterhorn.jpg' );
    background-repeat: no-repeat;
    background-position: center -360px;
    
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb( 200, 200, 200 );
  
    box-shadow: inset 0 20px 20px rgba( 0, 0, 0, .2 );
}

header>figure>hgroup {    
    padding: 20px 0;

    width: 100%;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 1%, rgba(255,255,255,0.68) 50%, rgba(255,255,255,0.35) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,0.35)), color-stop(50%,rgba(255,255,255,0.68)), color-stop(100%,rgba(255,255,255,0.35)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 1%,rgba(255,255,255,0.68) 50%,rgba(255,255,255,0.35) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.35) 1%,rgba(255,255,255,0.68) 50%,rgba(255,255,255,0.35) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.35) 1%,rgba(255,255,255,0.68) 50%,rgba(255,255,255,0.35) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 1%,rgba(255,255,255,0.68) 50%,rgba(255,255,255,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#59ffffff',GradientType=0 );

    text-align: center;
    
    box-shadow: 0 10px 20px rgba( 0, 0, 0, .4 ), 0 -10px 20px rgba( 0, 0, 0, .4 );
}

header>figure>hgroup>h1 {
    color: rgb( 33, 33, 33 );
    font-size: 48pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-shadow: 0 0 2px rgb( 33, 33, 33 );
    text-transform: uppercase;
}

header>figure>hgroup>h2 {
    color: rgb( 222, 222, 222 );
    font-size: 28pt;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 0 1px rgb( 0, 0, 0 );
    font-weight: 300;
}

section[role="main"] {
    color: rgb( 55, 55, 55 );
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

section[role="main"]{
    margin: 80px auto 0 auto;
    max-width: 1000px;
    
    line-height: 30pt;
}

section[role="main"]>div.articles {
    padding: 0 10px 0 0;
    
    width: 300px;
    
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgb( 222, 222, 222 );
    
    display: table-cell;
}

section[role="main"]>div.articles>ul {
    padding: 0;
}

section[role="main"]>div.main {
    padding: 0 0 0 20px;
    
    display: table-cell;
}

section[role="main"]>div a {
    color: rgb( 33, 33, 33 );
}

footer {
    background-color: rgb( 44, 44, 44 );
}