<?php

define('URL', 'http://localhost/cms/');
define('BACKENDURL', 'http://localhost/cms/backend/');
define('DBHOST', 'localhost');
define('DBNAME', 'cms');
define('DBUSER', 'root');
define('DBPASSWORD', '');

?>
